
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}



.hero_image {
  background:  url("../img/newspace.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  height: 100%;
}


.hero_text {
    font-size: 32px;
    font-weight: 700;
    color: WHITE;
    line-height: 3em;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}
.intro {
  width: 600px;
  margin: 0 auto;
  clear: both;



}
.lower  {
  float: left;
  font-weight: 700;
}
.higher {
    float:right;
    background-color: #F5F5F5;
    margin: 10px 20px;
    padding: 20px;
    width: 180px;
}
.description {
  font-weight:600;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1em;

}
.emoji {
  font-size: 64px;
}
