
body {
  background: linear-gradient(0deg,rgba(255,0,150,0.4),rgba(255,0,150,0.4)), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  color: #FDFCFB;
  text-align: center;

}


form {
  width: 600px;
  margin: 15% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;


}


.description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1em;

}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}


#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 3%;
  border-radius: 5px 0 0 5px;
  text-transform: uppercase;
}


#submit {
  width: 25%;
  height: 46px;
  background:#66CCB5;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


#submit:hover {
  background: #56BAA4;
}
.boxed {
  display: flex;
  justify-content: center;

  width: auto;
  background-color: white;


}
.mentorship {
  color: black;
}

.mentorship a{
  color: black;
}
footer {
  position:absolute;
  bottom:0;
  width:100%;
    /* Height of the footer */
}

@media (max-width: 699px){

form  {
      font-family: 'Lato', sans-serif;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      padding: 10px 10px 15px;
      font-size: 12px;
      line-height: 1.2;
      text-align: left;
      color: #ffffff;
      font-weight: 800;
    }
    .header {
      font-size: 20px;
    }
    body {
      background-image: none;
      background-color: #FF60F9;
    }
  }
