
body {
  background: linear-gradient(0deg,rgba(255,0,150,0.4),rgba(255,0,150,0.4)), url("../img/background.jpg");
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  color: #FDFCFB;
  text-align: center;

}


form {
  width: 600px;
  margin: 15% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;

}


.description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1em;

}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

a {
  color: white;
  text-decoration: none;
}


#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 3%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background:#66CCB5;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


#submit:hover {
  background: #56BAA4;
}



@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .header{
      font-size: 16px;
    }
    form {
      max-width: 80%;
      font-size: 16px;
    }

}
